*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    color: #fff;
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
}
.option{
     height: 165px;
     width: 165px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.option:hover{
    background-color: #081b31;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem ;
    gap: 5rem;
}
#me,#comp{
  font-size: 4rem;
    
}
.msg-continer{
    margin-top: 5rem;
}
#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}